@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hwb(253 60% 30%);
    --color-pimary: hsl(145, 76%, 42%);
    --color-blue: hsl(212, 52%, 37%);
    --color-black: hsl(252, 30%, 10%);
    --border-radius: 2.7rem;
    --card-border-radius: 1rem;
    --btnencabezado-padding: 0.4rem 1.2rem;
    --btn-padding: 0.5rem 0.4rem;
    --search-padding: 0.6rem rem;
    --card-padding: 1rem;
    --input-padding: .3rem;
    --sticky-top-left: -5.4rem;
    --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
    /* *=todos los elemento,  *::before = todos los elementos con el pseudo elemento before */
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-black);
    background: var(--color-light);
    overflow-x: hidden;
}


/* STYLOS GENERALES */

.contenedor {
    width: 84%;
    margin: 0 auto;
}

.foto {
    width: 14rem;
    height: 5.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
    padding: 1px;
}

img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

input {
    border: 1px solid var(--color-gray);
    padding: var(--input-padding);
    border-radius: .2rem;
}

.text-bold {
    /*text bold = negrita */
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}

.btn_encabezado {
    display: inline-block;
    padding: var(--btnencabezado-padding);
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    background: var(--color-pimary);
    color: var(--color-white);
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    background: var(--color-pimary);
    color: var(--color-white);
    border-radius: .2rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.19);
}

.btn_encabezado:hover {
    opacity: 0.7;
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary {
    background: var(--color-pimary);
    color: white;
}


/* =================NAVBAR================== */

nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.2rem;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .contenedor {
    display: flex;
    align-items: center;
}


/* --------MAIN--------- */

main {
    position: relative;
    top: 6.6rem;
    height: 100vh;
}

main .contenedor {
    background: var(--color-white);
    height: 100%;
}

.contenedorhijo {
    border-bottom: 1px solid var(--color-pimary);
    width: 100%;
}

.secciones {
    margin-top: 1rem;
}


/* -----------ENCABEZADO-------------- */

.secciones .btn_encabezado {
    margin: 0 -1.3px;
}


/* .secciones .btn:focus{
    background-color: var(--color-gray);
} */

.color {
    background-color: var(--color-gray);
}


/* ------------CONTENIDO------------------ */

.contenido {
    position: relative;
}

.contenido_texto {
    position: absolute;
    background-color: var(--color-white);
    padding: .5rem;
    transition: .6s;
    transform: scale(0);
}

.block {
    transform: scale(1);
    z-index: 1;
}

.titulo {
    margin-left: 1.5rem;
}


/* -------CONTENIDO PROCESOS----------- */


/* -------CONTENIDO PROCESOS TABLAS----------- */

.contenido_tabla {
    border-collapse: collapse;
    font-size: 0.9rem;
    min-width: 15rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.19);
    margin-left: 1.5rem;
}

.contenido_tabla thead tr {
    background-color: var(--color-gray);
    color: var(--color-white);
    text-align: left;
}

.contenido_tabla th,
.contenido_tabla td {
    padding: .7rem .7rem;
}

.contenido_tabla tbody tr {
    border-bottom: 1px solid var(--color-gray);
}

.contenido_tabla tbody tr:nth-child(2n) {
    background-color: #f3f3f3;
}

.contenido_tabla tbody tr:last-of-type {
    border-bottom: 2px solid var(--color-gray);
}


/* -------CONTENIDO PROCESOS FORMULARIO----------- */

.registrar {
    display: grid;
    grid-template-columns: 40vw auto;
    column-gap: .3rem;
    margin-top: .8rem;
}

.formulario_procesos .for_proceso {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.formulario_procesos .for_proceso .input_proceso {
    width: 20rem;
    display: block;
    padding: .4rem;
}


/* --------CONTENIDO ACTIVIDA--------- */


/* -------FORMULARIO--------- */

.formulario_actividad .label_actividad {
    display: block;
    margin-top: 1rem;
}

.input_actividad {
    width: 20rem;
    display: block;
    padding: .4rem;
}

.formulario_actividad .btn_actividad {
    margin-top: 1rem;
}

.formulario_actividad {
    padding-left: 1.5rem;
}

.contenedor_tabla .buscar_actividad {
    display: block;
    width: 100%;
}


/* --------CONTENIDO REQUISITO LEGAL--------- */


/* -------FORMULARIO--------- */

.formulario_rlegales .for_rlegales {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.formulario_rlegales .for_rlegales .input_requisito {
    width: 20rem;
    display: block;
    padding: .4rem;
}


/* --------CONTENIDO REQUISITO LEGAL--------- */

.registrar2 {
    display: grid;
    grid-template-columns: 26vw 26vw 26vw;
    column-gap: .3rem;
    margin-top: .8rem;
}

.contenedor_tabla1 .buscar_actividad {
    display: block;
    width: 100%;
}

.contenedor_tabla2 .buscar_actividad {
    display: block;
    width: 100%;
}

.contenedor_tabla3 .buscar_actividad {
    display: block;
    width: 100%;
}

.hola {
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.hola1 {
    margin-top: 30px;
}

.form-label {
    margin-right: 10px;
}

.ciud {
    margin-right: 100px;
}

.colortabdatosper {
    background: var(--color-pimary);
    color: var(--color-white);
}